.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
z_experiments
include/duckdb_database
include/pretained_models/
db_script.py
include/minio
include/model_debugging/test_full
include/model_debugging/train_full
include/model_debugging/test_trainer
include/test 
include/train
duckdb_database
duckdb_database.wal